
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 40

#include <input/processors.dtsi>
#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define JP_ZKHK GRAVE
#define JP_MINS MINUS
#define JP_CIRC EQUAL
#define JP_YEN  INT3
#define JP_AT   LEFT_BRACKET
#define JP_LBRC RIGHT_BRACKET
#define JP_EISU CAPSLOCK
#define JP_SCLN SEMICOLON
#define JP_COLN SINGLE_QUOTE
#define JP_RBRC NON_US_HASH
#define JP_COMM COMMA
#define JP_DOT  DOT
#define JP_SLSH SLASH
#define JP_BSLS INT1
#define JP_MHEN INT5
#define JP_HENK INT4
#define JP_KANA INT2

#define JP_EXLM LS(N1)
#define JP_DQUO LS(N2)
#define JP_HASH LS(N3)
#define JP_DLR  LS(N4)
#define JP_PERC LS(N5)
#define JP_AMPR LS(N6)
#define JP_QUOT LS(N7)
#define JP_LPRN LS(N8)
#define JP_RPRN LS(N9)
#define JP_EQL  LS(JP_MINS)
#define JP_TILD LS(JP_CIRC)
#define JP_PIPE LS(JP_YEN)
#define JP_GRV  LS(JP_AT)
#define JP_LCBR LS(JP_LBRC)
#define JP_PLUS LS(JP_SCLN)
#define JP_ASTR LS(JP_COLN)
#define JP_RCBR LS(JP_RBRC)
#define JP_LABK LS(JP_COMM)
#define JP_RABK LS(JP_DOT)
#define JP_QUES LS(JP_SLSH)
#define JP_UNDS LS(JP_BSLS)

#define MAIN 0
#define SYMBOL 1
#define MOUSE 2
#define MOUSE_ST 3
#define FN 4
#define BT 5

&mt {
    flavor = "balanced";
    tapping-term-ms = <180>;
    quick-tap-ms = <150>;
    require-prior-idle-ms = <100>;
};

&zip_temp_layer {
    require-prior-idle-ms = <120>;
    excluded-positions = <18 20 36 37 40 41 42>;
};

&mkp_input_listener {
    aml_active {
        layers = <2>;
        input-processors = <&zip_temp_layer 2 5000>;
    };

    aml_inactive {
        layers = <0 1 3 4>;
    };
};

&caps_word { continue-list = <JP_UNDS JP_MINS JP_COLN BACKSPACE DELETE>; };

/ {
    vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 7>;

        /*
         * 2.80V 100%
         * 2.53V 60%
         * 2.41V 40%
         * 2.40V 20%
         * 2.13V 0%
         */

        output-ohms = <510000>;
        full-ohms = <2265000>;
    };

    arrow_keys: arrow_keys {
        compatible = "zmk,input-processor-keybind";
        #input-processor-cells = <0>;
        threshold = <20>;
        x-pos-bindings = <&kp RIGHT>;
        x-neg-bindings = <&kp LEFT>;
        y-pos-bindings = <&kp DOWN>;
        y-neg-bindings = <&kp UP>;
    };

    combos {
        compatible = "zmk,combos";

        CM_BTLY {
            bindings = <&mo 5>;
            key-positions = <16 28>;
            timeout-ms = <50>;
            require-prior-idle-ms = <50>;
            layers = <0>;
        };

        CM_MB3 {
            bindings = <&mkp MB3>;
            key-positions = <18 20>;
            layers = <2 3>;
            timeout-ms = <40>;
            require-prior-idle-ms = <50>;
        };

        CM_GRAV {
            bindings = <&kp JP_ZKHK>;
            key-positions = <0 1>;
            timeout-ms = <40>;
            require-prior-idle-ms = <50>;
            layers = <4>;
        };

        CM_CAPS {
            bindings = <&kp CAPSLOCK>;
            key-positions = <1 2>;
            timeout-ms = <40>;
            require-prior-idle-ms = <50>;
            layers = <4>;
        };

        CM_INSE {
            bindings = <&kp INSERT>;
            key-positions = <2 3>;
            timeout-ms = <40>;
            require-prior-idle-ms = <50>;
            layers = <4>;
        };

        CM_NUML {
            bindings = <&kp KP_NUMLOCK>;
            key-positions = <3 4>;
            timeout-ms = <40>;
            require-prior-idle-ms = <50>;
            layers = <4>;
        };

        CM_PUBR {
            bindings = <&kp PAUSE_BREAK>;
            key-positions = <0 1 2>;
            timeout-ms = <40>;
            require-prior-idle-ms = <50>;
            layers = <4>;
        };

        CM_SLCK {
            bindings = <&kp SCROLLLOCK>;
            key-positions = <1 2 3>;
            timeout-ms = <40>;
            require-prior-idle-ms = <50>;
            layers = <4>;
        };

        CM_KANA {
            bindings = <&kp JP_KANA>;
            key-positions = <2 3 4>;
            timeout-ms = <40>;
            require-prior-idle-ms = <50>;
            layers = <4>;
        };

        CM_F11 {
            bindings = <&kp F11>;
            key-positions = <31 32>;
            layers = <3 4>;
            timeout-ms = <40>;
            require-prior-idle-ms = <50>;
        };

        CM_F12 {
            bindings = <&kp F12>;
            key-positions = <32 33>;
            layers = <3 4>;
            timeout-ms = <40>;
            require-prior-idle-ms = <50>;
        };
    };

    behaviors {
        mm_7: mm_7 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_7";
            bindings = <&kp N7>, <&kp JP_LPRN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_8: mm_8 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_8";
            bindings = <&kp N8>, <&m_paren>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_4: mm_4 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_4";
            bindings = <&kp N4>, <&kp JP_LBRC>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_5: mm_5 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_5";
            bindings = <&kp N5>, <&m_bracket>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_6: mm_6 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_6";
            bindings = <&kp N6>, <&kp JP_RBRC>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_1: mm_1 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_1";
            bindings = <&kp N1>, <&kp JP_LCBR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_2: mm_2 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_2";
            bindings = <&kp N2>, <&m_brace>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_3: mm_3 {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_3";
            bindings = <&kp N3>, <&kp JP_RCBR>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_scln: mm_scln {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_SCLN";
            bindings = <&kp JP_SCLN>, <&kp JP_COLN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_minus: mm_minus {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_MINUS";
            bindings = <&kp JP_MINS>, <&kp JP_UNDS>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_bls: mm_bls {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_BLS";
            bindings = <&kp JP_BSLS>, <&kp JP_YEN>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_prtsc: mm_prtsc {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_PRTSC";
            bindings = <&kp PRINTSCREEN>, <&kp LS(LG(S))>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mt_cw: mt_cw {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_CW";
            #binding-cells = <2>;
            bindings = <&caps_word>, <&kp>;
            flavor = "balanced";
            tapping-term-ms = <180>;
            quick-tap-ms = <150>;
        };

        mm_shift_esc: mm_shift_esc {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_SHIFT_ESC";
            #binding-cells = <0>;
            bindings = <&mt LEFT_SHIFT ESCAPE>, <&mt_cw 0 ESCAPE>;
            mods = <MOD_RSFT>;
            keep-mods = <MOD_RSFT>;
        };

        mm_shift_enter: mm_shift_enter {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_SHIFT_ENTER";
            #binding-cells = <0>;
            bindings = <&mt RIGHT_SHIFT ENTER>, <&mt_cw 0 ENTER>;
            mods = <MOD_LSFT>;
            keep-mods = <MOD_LSFT>;
        };

        td_mhen_henk: td_mhen_henk {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_MHEN_HENK";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp JP_MHEN>, <&kp JP_HENK>;
        };

        td_l1bt: td_l1bt {
            compatible = "zmk,behavior-hold-tap";
            label = "TD_L1BT";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <180>;
            bindings = <&mo>, <&td_mhen_henk>;
        };

        td_l1bt_LM: td_l1bt_LM {
            compatible = "zmk,behavior-hold-tap";
            label = "td_l1bt_LM";
            #binding-cells = <2>;
            bindings = <&mo>, <&tog_off>;

            flavor = "hold-preferred";
            tapping-term-ms = <180>;
        };

        tog_off: tog_off {
            compatible = "zmk,behavior-toggle-layer";
            label = "TOG_OFF";
            #binding-cells = <1>;
            toggle-mode = "off";
        };

        mt_exit_AML_on_tap: mt_exit_AML_on_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_EXIT_AML_ON_TAP";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp_exit_AML>;

            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            quick-tap-ms = <0>;
        };
    };

    macros {
        m_paren: m_paren {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "M_PAREN";
            wait-ms = <5>;
            tap-ms = <5>;
            bindings = <&macro_tap &kp JP_LPRN &kp JP_RPRN &kp LEFT_ARROW>;
        };

        m_bracket: m_bracket {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "M_BRACKET";
            wait-ms = <5>;
            tap-ms = <5>;
            bindings = <&macro_tap &kp JP_LBRC &kp JP_RBRC &kp LEFT_ARROW>;
        };

        m_brace: m_brace {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            label = "M_BRACE";
            wait-ms = <5>;
            tap-ms = <5>;
            bindings = <&macro_tap &kp JP_LCBR &kp JP_RCBR &kp LEFT_ARROW>;
        };

        kp_exit_AML: kp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &tog_off 2>;
            label = "KP_EXIT_AML";
            tap-ms = <5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main_layer {
            bindings = <
&kp Q          &kp W         &kp E         &kp R                 &kp T                                                 &kp Y            &kp U  &kp I      &kp O       &kp P
&kp A          &kp S         &kp D         &kp F                 &kp G        &kp C_MUTE     &kp LG(LA(K))                &kp H            &kp J  &kp K      &kp L       &mm_minus
&kp Z          &kp X         &kp C         &kp V                 &kp B        &kp LG(P)      &kp C_MUTE                   &kp N            &kp M  &kp COMMA  &kp PERIOD  &mm_scln
&mm_shift_esc  &kp LEFT_GUI  &kp LEFT_ALT  &mt LEFT_CONTROL TAB  &lt 1 SPACE  &td_l1bt 4 0   &mt RIGHT_CONTROL BACKSPACE  &mm_shift_enter                                &mt RIGHT_ALT DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        symbol_layer {
            bindings = <
&kp JP_EXLM  &kp JP_QUES  &kp JP_EQL   &kp JP_QUOT  &kp JP_TILD                      &mm_prtsc    &mm_7  &mm_8  &kp N9  &kp JP_PLUS
&kp JP_AMPR  &kp JP_HASH  &kp JP_DLR   &kp JP_DQUO  &kp JP_GRV   &trans  &trans      &kp JP_ASTR  &mm_4  &mm_5  &mm_6   &mm_minus
&kp JP_AT    &kp JP_PERC  &kp JP_CIRC  &kp JP_PIPE  &mm_bls      &trans  &trans      &kp PERIOD   &mm_1  &mm_2  &mm_3   &kp JP_SLSH
&trans       &trans       &tog 3       &trans       &trans       &trans  &trans      &kp N0                             &trans
            >;

            sensor-bindings = <&inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        mouse_layer {
            bindings = <
&trans  &trans  &trans                                 &trans                                &trans                                                       &trans                                 &trans    &trans  &trans    &trans
&trans  &trans  &trans                                 &trans                                &trans  &trans  &trans                                       &trans                                 &mkp MB1  &trans  &mkp MB2  &trans
&trans  &trans  &trans                                 &trans                                &trans  &trans  &trans                                       &trans                                 &trans    &trans  &trans    &trans
&trans  &trans  &mt_exit_AML_on_tap LEFT_ALT LEFT_ALT  &mt_exit_AML_on_tap LEFT_CONTROL TAB  &trans  &trans  &mt_exit_AML_on_tap RIGHT_CONTROL BACKSPACE  &mt_exit_AML_on_tap RIGHT_SHIFT ENTER                              &mt_exit_AML_on_tap RIGHT_ALT DELETE
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        mouse_st_layer {
            bindings = <
&kp F1      &kp F2             &kp F3     &kp F4     &kp F5                                    &mm_prtsc  &kp PAGE_UP  &msc SCRL_UP    &kp PAGE_DOWN  &none
&kp LC(A)   &kp LC(S)          &kp LC(D)  &kp LC(F)  &kp LC(G)         &trans          &trans  &kp HOME   &mkp MB1     &msc SCRL_DOWN  &mkp MB2       &kp END
&kp LC(Z)   &kp LC(X)          &kp LC(C)  &kp LC(V)  &kp K_APPLICATION &trans          &trans  &kp F6     &kp F7       &kp F8          &kp F9         &kp F10
&trans      &trans             &trans     &trans     &kp SPACE         &td_l1bt_LM 4 3 &trans  &trans                                                 &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        fn_layer {
            bindings = <
&kp F1      &kp F2             &kp F3     &kp F4     &kp F5                            &mm_prtsc  &kp PAGE_UP     &kp UP_ARROW    &kp PAGE_DOWN    &none
&kp LC(A)   &kp LC(S)          &kp LC(D)  &kp LC(F)  &kp LC(G)         &trans  &trans  &kp HOME   &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp END
&kp LC(Z)   &kp LC(X)          &kp LC(C)  &kp LC(V)  &kp K_APPLICATION &trans  &trans  &kp F6     &kp F7          &kp F8          &kp F9           &kp F10
&trans      &trans             &trans     &trans     &trans            &none   &trans  &trans                                                      &trans
            >;

            sensor-bindings = <&inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        bt_layer {
            bindings = <
&none  &none  &none  &none  &none                                &bt BT_SEL 0  &bt BT_SEL 1   &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none  &none  &none  &none  &none        &none       &none       &ind_bat      &studio_unlock &none         &none         &none
&none  &none  &none  &none  &none        &none       &none       &none         &none          &none         &none         &bt BT_CLR
&none  &none  &none  &none  &bootloader  &sys_reset  &sys_reset  &bootloader                                              &bt BT_CLR_ALL
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };
    };
};
