#include <input/processors.dtsi>
#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_MOUSE_DEFAULT_SCRL_VAL 40
#define MAIN 0
#define SYMBOL 1
#define FN 2
#define MOUSE 3
#define MOUSE_ST 4
#define BT 5

&mt {
    flavor = "balanced";
    tapping-term-ms = <180>;
    quick-tap-ms = <180>;
    require-prior-idle-ms = <100>;
};

&mkp_input_listener { input-processors = <&zip_temp_layer 3 800>; };

&caps_word { continue-list = <LS(INTERNATIONAL_1) MINUS SINGLE_QUOTE BACKSPACE DELETE>; };

/ {
    vbatt {
        compatible = "zmk,battery-voltage-divider";
        io-channels = <&adc 7>;

        /*
         * 2.80V 100%
         * 2.53V 60%
         * 2.41V 40%
         * 2.40V 20%
         * 2.13V 0%
         */

        output-ohms = <510000>;
        full-ohms = <2265000>;
    };

    combos {
        compatible = "zmk,combos";

        CM_LPRN {
            bindings = <&kp ASTERISK>;
            key-positions = <6 7>;
            layers = <1>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
        };

        CM_RPRN {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <7 8>;
            layers = <1>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
        };

        CM_LBRC {
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <18 19>;
            layers = <1>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
        };

        CM_RBRC {
            bindings = <&kp NON_US_HASH>;
            key-positions = <19 20>;
            layers = <1>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
        };

        CM_LCBR {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <30 31>;
            layers = <1>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
        };

        CM_RCBR {
            bindings = <&kp PIPE>;
            key-positions = <31 32>;
            layers = <1>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
        };

        CM_MSST {
            bindings = <&tog 4>;
            key-positions = <34 35>;
            layers = <0 4>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
        };

        CM_MB3 {
            bindings = <&mkp MB3>;
            key-positions = <19 20>;
            layers = <3 4>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
        };

        CM_F11 {
            bindings = <&kp F11>;
            key-positions = <7 8>;
            layers = <2 4>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
        };

        CM_F12 {
            bindings = <&kp F12>;
            key-positions = <8 9>;
            layers = <2 4>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
        };

        CM_PRSC {
            bindings = <&kp_exit_AML LS(LG(S))>;
            key-positions = <29 30>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
            layers = <1 2 4>;
        };

        CM_GRAV {
            bindings = <&kp GRAVE>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
            layers = <2 4>;
            key-positions = <1 0>;
        };

        CM_CAPS {
            bindings = <&kp CAPSLOCK>;
            key-positions = <1 2>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
            layers = <2 4>;
        };

        CM_INSE {
            bindings = <&kp INSERT>;
            key-positions = <2 3>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
            layers = <2 4>;
        };

        CM_NUML {
            bindings = <&kp KP_NUMLOCK>;
            key-positions = <3 4>;
            timeout-ms = <30>;
            require-prior-idle-ms = <50>;
            layers = <2 4>;
        };
    };

    behaviors {
        mm_scln: mm_scln {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_SCLN";
            bindings = <&kp SEMICOLON>, <&kp SINGLE_QUOTE>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_minus: mm_minus {
            compatible = "zmk,behavior-mod-morph";
            label = "MM_MINUS";
            bindings = <&kp MINUS>, <&kp LS(INTERNATIONAL_1)>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        td_l3bt: td_l3bt {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_L3BT";
            #binding-cells = <0>;
            bindings = <&lt 2 INTERNATIONAL_5>, <&kp INTERNATIONAL_4>;

            tapping-term-ms = <250>;
        };

        tog_off: tog_off {
            compatible = "zmk,behavior-toggle-layer";
            label = "TOG_OFF";
            #binding-cells = <1>;
            toggle-mode = "off";
        };

        mt_exit_AML_on_tap: mt_exit_AML_on_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_EXIT_AML_ON_TAP";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp_exit_AML>;

            tapping-term-ms = <200>;
            flavor = "hold-preferred";
            quick-tap-ms = <0>;
        };
    };

    macros {
        kp_exit_AML: kp_exit_AML {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER &tog_off 3>;
            label = "KP_EXIT_AML";
            tap-ms = <5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main_layer {
            bindings = <
&kp Q       &kp W         &kp E         &kp R     &kp T                                                           &kp Y                 &kp U  &kp I      &kp O       &kp P
&kp A       &kp S         &kp D         &kp F     &kp G        &kp C_MUTE            &kp LG(LA(K))                &kp H                 &kp J  &kp K      &kp L       &mm_minus
&kp Z       &kp X         &kp C         &kp V     &kp B        &kp LG(P)             &lt 5 C_MUTE                 &kp N                 &kp M  &kp COMMA  &kp PERIOD  &mm_scln
&caps_word  &kp LEFT_GUI  &kp LEFT_ALT  &td_l3bt  &lt 1 SPACE  &mt LEFT_CONTROL TAB  &mt RIGHT_CONTROL BACKSPACE  &mt LEFT_SHIFT ENTER                                &mt RIGHT_SHIFT DELETE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        symbol_layer {
            bindings = <
&kp EXCLAMATION   &kp QUESTION  &kp UNDERSCORE  &kp AMPERSAND            &kp PLUS                             &kp INTERNATIONAL_3  &kp N7        &kp N8        &kp N9        &kp COLON
&kp CARET         &kp HASH      &kp DOLLAR      &kp AT_SIGN              &kp LEFT_BRACE       &trans  &trans  &none                &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp DOUBLE_QUOTES
&kp LEFT_BRACKET  &kp PERCENT   &kp EQUAL       &kp LS(INTERNATIONAL_3)  &kp INTERNATIONAL_1  &trans  &trans  &kp PRINTSCREEN      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp SLASH
&kp ESCAPE        &trans        &trans          &trans                   &trans               &trans  &trans  &kp NUMBER_0                                                   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        fn_layer {
            bindings = <
&kp F1      &kp F2     &kp F3          &kp F4       &kp F5                     &kp F6           &kp F7          &kp F8          &kp F9           &kp F10
&kp LC(Z)   &kp LC(X)  &kp LC(C)       &kp LC(V)    &kp LC(A)  &trans  &trans  &kp HOME         &kp LEFT_ARROW  &kp UP_ARROW    &kp RIGHT_ARROW  &kp END
&none       &none      &kp SCROLLLOCK  &kp C_PAUSE  &none      &trans  &trans  &kp PRINTSCREEN  &kp PAGE_UP     &kp DOWN_ARROW  &kp PAGE_DOWN    &kp RIGHT_ALT
&kp ESCAPE  &trans     &trans          &trans       &kp SPACE  &trans  &trans  &trans                                                            &trans
            >;

            sensor-bindings = <&inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        mouse_layer {
            bindings = <
&trans  &trans                                 &trans                                 &trans  &trans                                                                                     &trans                                 &trans    &trans          &trans    &trans
&trans  &trans                                 &trans                                 &trans  &trans  &trans                                &trans                                       &trans                                 &mkp MB1  &msc SCRL_UP    &mkp MB2  &trans
&trans  &trans                                 &trans                                 &trans  &trans  &trans                                &trans                                       &trans                                 &trans    &msc SCRL_DOWN  &trans    &trans
&trans  &mt_exit_AML_on_tap LEFT_GUI LEFT_GUI  &mt_exit_AML_on_tap LEFT_ALT LEFT_ALT  &trans  &trans  &mt_exit_AML_on_tap LEFT_CONTROL TAB  &mt_exit_AML_on_tap RIGHT_CONTROL BACKSPACE  &mt_exit_AML_on_tap RIGHT_SHIFT ENTER                                      &mt_exit_AML_on_tap RIGHT_SHIFT DELETE
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
        };

        mouse_st_layer {
            bindings = <
&kp F1      &kp F2     &kp F3     &kp F4     &kp F5                     &kp F6           &kp F7       &kp F8          &kp F9         &kp F10
&kp LC(Z)   &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(A)  &trans  &trans  &kp HOME         &mkp MB1     &msc SCRL_UP    &mkp MB2       &kp END
&none       &none      &none      &none      &none      &trans  &trans  &kp PRINTSCREEN  &kp PAGE_UP  &msc SCRL_DOWN  &kp PAGE_DOWN  &kp RIGHT_ALT
&kp ESCAPE  &trans     &trans     &trans     &kp SPACE  &trans  &trans  &trans                                                       &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOLUME_DOWN>;
        };

        bt_layer {
            bindings = <
&none  &none  &none  &none  &none                 &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none  &none  &none  &none  &none  &none  &none   &ind_bat      &none         &none         &none         &none
&none  &none  &none  &none  &none  &none  &trans  &none         &none         &none         &none         &bt BT_CLR
&none  &none  &none  &none  &none  &none  &none   &none                                                   &bt BT_CLR_ALL
            >;
        };
    };
};
